.form-control {
    width: fit-content;
}

.form-group {
    width: fit-content;
    margin: auto;
}

.checkbox {
    display: inline;
    margin-top: 5%;
}

.create-user-form {
    text-align: center;
}

.create-user-form input[type="submit"] {
    background-color: #B15E5D;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.75rem;

}