.navbar {
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    text-align: center;
}

.header span {
    color: #B15E5D;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #B15E5D;
}

.link-wrapper {
    margin: auto;
}

.link-wrapper a {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    color: #B15E5D;
    font-size: large;
}

.cart-button {
    background-color: #B15E5D;
    border: none;
    position: absolute;
}

.login-button {
    width: fit-content;
    margin: auto;
}

.search-bar {
    width: auto;
}