.col {
    margin-bottom: 4%;
}

.single img {
    width: 200px;
    height: auto;
}

.add-to-cart-button {
    background-color: pink;
    border-color: pink;
}

.add-to-cart-button:hover {
    background-color: white;
    border-color: pink;
    color: pink;
}